html,body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.pimg1{
    background-image: url(images/maharaj1.jpg);
    min-height: 100%;
}

.pimg2{
    background-image: url(images/torna.jpg);
    min-height: 400px;
}

.pimg3{
    background-image: url(images/raigad.jpg);
    min-height: 400px;
}

.pimg4{
    background-image: url(images/rajgad.jpg);
    min-height: 400px;
}

.pimg5{
    background-image: url(images/pratapgad.jpg);
    min-height: 400px;
}

.pimg6{
    background-image: url(images/sindhudurg.jpg);
    min-height: 400px;
}

.pimg7{
    background-image: url(images/maharaj6.jpg);
    min-height: 100%;
}

.pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg6, .pimg7{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ptext{
    position: absolute;
    top: 50%;
    width:100%;
    text-align: center;
    font-size: 27px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.textBg{
    background-color: #1b1b1be4;
    color: rgb(255, 162, 0);
    padding: 30px;
    border-radius: 10px;
}

.textBg2{
    background-color: #1b1b1be4;
    color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
}

.section {
    padding:50px 80px;
    text-align: center;
}

.section-light{
    background-color: #f4f4f4;
    color: #666;
}

.section-dark{
    background-color: #282e34;
    color: white;
}

@media (max-width:425px) {
    .textBg{
        padding: 10px;
        font-size: 15px;
    }
}